@media only screen and (max-width: 480px) {

  nav li {
    padding-left: 20px;
    padding-right: 20px;
  }

  nav ul a.header-logo {
    padding-left: 20px;
    padding-right: 20px;
  }

  .welcome-text {
    flex-direction: column;
  }

  .welcome-left {
    align-self: center;
    width: 100%;
  }

  .welcome-right {
    align-self: center;
    width: 100%;
  }

  .welcome-center {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .welcome-left h1 {
    font-size: 3.2em;
    margin: 0 auto;
    font-weight: 200;
  }

  .depth-text {
    font-size: 1.8em;
  }

  .welcome-right p {
    font-size: 1.2em;
  }

  .about-container {
    width: 100%;
    flex-flow: column;
    padding-left: 20px;
    padding-right: 20px;
  }

  .about-container:nth-child(1) {
    padding-bottom: 0px;
  }

  .about-container:nth-child(2) {
    padding-top: 0px;
  }

  .about-more {
    padding-left: 20px;
    padding-right: 20px;
  }

  #videos h1 {
    font-size: 40pt;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 50px;
  }

  .icon-container {
    flex-flow: column;
    flex-wrap: wrap;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .icon-container a {
    width: 175px;
    height: 175px;
  }

  .icon-container img {
    width: 75%;
    height: 75%;
  }

  .icon-container img:hover {
    width: 150px;
    height: 150px;
  }

  .icon-container h2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .icon-container h3 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .video-more {
    margin-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
  }

  #event h1 {
    font-size: 40pt;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 50px;
  }

  .info-container:nth-child(1) {
    margin-left: 0px;
    width: 30%;
  }

  .info-container:nth-child(2) {
    margin-left: 0px;
    width: 60%;
  }

  .event-info {
    text-align: center;
    display: block;
    width: 100%;
  }

  .event-info p, .event-info h3 {
    text-align: left;
  }

  .event-info p {
    font-size: 14pt;
  }

  .event-info h3 {
    margin-top: 10px;
  }

  .event-map {
    width: 100%;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .about-header {
    height: 350px;
  }

  .about-header h2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .question-process {
    height: 550px;
  }

  .logo-process {
    height: 700px;
  }

  .website-process {
    height: 650px;
  }

  .video-process {
    height: 750px;
  }

  .notebook-process {
    height: 600px;
  }

  .question-process, .logo-process, .video-process, .website-process, .notebook-process {
    flex-wrap: wrap;
  }

  .question-process h3, .logo-process h3, .video-process h3, .website-process h3, .notebook-process h3 {
    width: 100%;
    order: 1;
    font-size: 1.4em;
    padding: 10px;
    margin-bottom: 5px;
  }

  .question-process h3 br, .logo-process h3 br, .video-process h3 br, .website-process h3 br, .notebook-process h3 br {
    display: none;
  }

  .logo-process p, .video-process p, .website-process p, .notebook-process p {
    width: 100%;
    order: 2;
    font-size: 10pt;
    line-height: 14pt;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
  }

  .question-process p {
    width: 100%;
    order: 2;
    font-size: 10pt;
    line-height: 14pt;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
  }

  .question-process p:nth-child(3) {
    margin-bottom: 20px;
  }

  .img-container img {
    width: 200px;
    height: 200px;
  }

  .logo-process .img-container, .video-process .img-container, .website-process .img-container, .notebook-process .img-container {
    width: 100%;
  }

  .img-container {
    order: 3;
  }

  .video-header h2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .video-header h3 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .video-container li {
    font-size: 8pt;
  }

  .comp-video {
    height: 1800px;
  }

  .color-video {
    height: 1700px;
  }

  .type-video {
    height: 1750px;
  }

  .fail-video {
    height: 1800px;
  }

  .comp-video, .color-video, .type-video, .fail-video {
    justify-content: center;
    flex-direction: column;
  }

  .comp-video .video-container, .color-video .video-container, .type-video .video-container, .fail-video .video-container {
    width: 90%;
  }

  .comp-video .video-container:nth-child(1) {
    order: 2;
  }

  .comp-video .video-container:nth-child(2) {
    order: 1;
  }

  .type-video .video-container:nth-child(1) {
    order: 2;
  }

  .type-video .video-container:nth-child(2) {
    order: 1;
  }

  .color-video .video-container:nth-child(2), .fail-video .video-container:nth-child(2) {
    margin: 0;
    padding: 0;
  }

  .comp-video .video-container:nth-child(1), .type-video .video-container:nth-child(1) {
    margin: 0;
    padding: 0;
  }

}

@media only screen and (min-width: 480px) and (max-width: 1200px) {

  .icon-container {
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 30px;
  }

  .video-process {
    height: 720px;
  }

  .logo-process {
    height: 600px;
  }

  .website-process {
    height: 550px;
  }

  .comp-video, .color-video, .type-video, .fail-video {
    height: 700px;
  }

}
