body, html {
  width: 100%;
  height: 100%;
  font-family: menco, sans-serif;
}

.header {
  width: 100%;
  height: 100%;
  background-image: url(assets/header-bg.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*--------------- NAV BAR ---------------*/

nav {
  height: 100px;
}

nav ul {
  margin: 0;
  padding: 0;
  height: 100px;
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

nav li {
  display: inline;
  padding-left: 50px;
  padding-right: 50px;
}

nav li a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

nav li a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: -5px;
  background: #76E8D9;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

nav li a:hover:before, nav li a:focus:before, nav li a:active:before {
  right: 0;
}

nav ul a.header-logo {
  height: 40px;
  text-decoration: none;
  padding-left: 50px;
  padding-right: 50px;
}

nav a img {
  width: 40px;
  height: 40px;
}

/*--------------- WELCOME HEADER ---------------*/

.welcome-text {
  color: white;
  width: 100%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: left;
}

.welcome-left {
  width: 45%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.welcome-right {
  width: 45%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.welcome-center {
  width: 10%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.welcome-center img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.welcome-left h1 {
  font-size: 5.5em;
  margin: 0 auto;
  font-weight: 200;
}

.depth-text {
  font-size: 1.4em;
  margin: 0 auto;
  font-weight: 600;
}

.welcome-right p {
  font-size: 1.8em;
  font-weight: 200;
  width: 70%;
  margin: 0 auto;
}

.read-more {
  font-size: 1.2em;
  text-align: center;
  display: none;
}

.read-more a {
  text-decoration: none;
  color: white;
}

/*--------------- About ----------------*/

#about {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.about-container {
  width: 40%;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.about-me h2 {
  width: 230px;
}

.about-capstone h2 {
  width: 320px;
}

.about-me h2, .about-capstone h2 {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 36pt;
  color: white;
  background-color: #76e8d9;
  text-shadow: 2px 2px 5px #00000033;
}

.about-me p, .about-capstone p {
  font-size: 16pt;
  line-height: 24pt;
}

.about-more {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 20pt;
  margin-bottom: 50px;
  font-weight: 100;
}

.about-more a {
  text-decoration: none;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  width: 100%;
  display: block;
}

.about-more a:visited {
  color: black;
}

.about-more a:hover {
  color: #76e8d9;
}

/*--------------- Videos ---------------*/

#videos {
  width: 100%;
  background-image: url(assets/video-bg.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#videos h1 {
  display: block;
  width: 100%;
  color: #76e8d9;
  text-shadow: 2px 2px 5px #00000033;
  text-align: center;
  font-size: 38pt;
  font-weight: 600;
  margin-top: 70px;
}

.icon-container {
  flex-flow: row;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 30px;
}

.icon-container a {
  background: white;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.icon-container img:hover {
  width: 240px;
  height: 240px;
}

.icon-container img {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.icon-container h2 {
  color: white;
  text-align: center;
  font-size: 22pt;
}

.icon-container h3 {
  color: white;
  text-align: center;
  font-size: 14pt;
  font-weight: 400;
  margin-top: 10px;
}

.video-more {
  color: white;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 20pt;
  margin-bottom: 50px;
  font-weight: 100;
}

.video-more a {
  text-decoration: none;
  color: white;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.video-more a:visited {
  color: white;
}

.video-more a:hover {
  color: #76e8d9;
}

/*--------------- Event ---------------*/

#event {
  width: 100%;
  padding-bottom: 5%;
  background-image: url(assets/event-bg.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#event h1 {
  color: #76e8d9;
  text-shadow: 2px 2px 5px #00000033;
  text-align: center;
  font-size: 38pt;
  font-weight: 600;
  display: block;
  width: 100%;
  margin-bottom: 4%;
  margin-top: 4%
}

.event-info {
  color: white;
  width: 50%;
  flex-flow: row;
  align-items: center;
}

.event-info h3 {
  font-size: 30pt;
  margin-bottom: 15px;
}

.event-info p {
  font-size: 18pt;
  font-weight: 100;
  margin-top: 10px;
}

.info-container {
  width: 42%;
  margin: 0 auto;
  display: inline-block;
}

.info-container:nth-child(1) {
  margin-left: 15%;
}

.info-container:nth-child(2) h3 {
  margin-top: 0px;
  margin-left: 10%;
}

.info-container:nth-child(2) p {
  margin-left: 10%;
  margin-bottom: 10px;
}

.event-map {
  width: 50%;
}

.event-map iframe {
  display: block;
  margin: 0 auto;
  border-radius: 25px;
}

/*--------------- Footer ---------------*/

#footer {
  width: 100%;
  text-align: center;
  color: white;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #303030;
}

/*--------------- About Page ---------------*/

.about-header {
  height: 400px;
  background-image: url(assets/about-header-bg.png);
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}

.about-header h1 {
  color: #76e8d9;
  font-size: 4em;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 30px;
}

.about-header h2 {
  font-size: 1.4em;
  font-weight: 400;
}

.video-process {
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-process {
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-process, .website-process, .notebook-process {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-process, .logo-process, .notebook-process {
  background-color: white;
}

.video-process, .website-process {
  background-color: #000428;
}

.video-process p, .website-process p {
  color: white;
}

.video-process h3, .website-process h3 {
  color: #76e8d9;
}

.question-process p, .logo-process p, .video-process p, .website-process p, .notebook-process p {
  width: 40%;
  align-self: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  line-height: 24px;
}

.question-process h3, .logo-process h3, .video-process h3, .website-process h3, .notebook-process h3 {
  width: 20%;
  align-self: center;
  text-align: center;
  font-size: 2.4em;
  font-weight: 600;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-shadow: 2px 2px 5px #00000033;
}

.logo-process .img-container, .video-process .img-container, .website-process .img-container, .notebook-process .img-container {
  width: 40%;
  align-self: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.img-container img {
  border-radius: 25px;
}

.video-process .img-container img:nth-child(1), .website-process .img-container img:nth-child(1) {
  margin-right: 10px;
}

.video-process .img-container img:nth-child(2), .website-process .img-container img:nth-child(2) {
  margin-left: 10px;
}

/*--------------- Video Page ---------------*/

.video-header {
  height: 400px;
  background-image: url(assets/video-header-bg.png);
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}

.video-header h1 {
  color: #76e8d9;
  font-size: 4em;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 30px;
}

.video-header h2 {
  font-size: 1.4em;
  font-weight: 400;
}

.video-header h3 {
  font-size: 1.2em;
  font-weight: 200;
}

.video-header h3 a {
  color: white;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.video-header h3 a:hover {
  color: #76e8d9;
}

.comp-video, .color-video, .type-video, .fail-video {
  height: 600px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.color-video, .fail-video {
  background-color: #000428;
}

.video-container {
  color: #000428;
  width: 50%;
  align-self: center;
  text-align: center;
}

.comp-video .video-container:nth-child(1), .type-video .video-container:nth-child(1) {
  margin-left: 10%;
  color: #000428;
  padding: 2%;
  padding-left: 4%;
  padding-right: 4%;
  border-radius: 20px;
}

.color-video .video-container:nth-child(2), .fail-video .video-container:nth-child(2) {
  margin-right: 10%;
  padding: 2%;
  color: white;
  padding-left: 4%;
  padding-right: 4%;
  border-radius: 20px;
}

.color-video ul li, .fail-video ul li {
  border-right: 1px solid white;
}

.video-container p {
  text-align: left;
  line-height: 30px;
}

.video-container iframe {
  border-radius: 20px;
  border: 0;
}

.video-container h4 {
  font-size: 1em;
  text-align: left;
  font-weight: 400;
}

.video-container ul {
  text-decoration: none;
  text-align: left;
  padding-left: 0;
}

.video-container li {
  font-size: .8em;
  text-align: left;
  width: 100%;
  font-weight: 600;
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px solid black;
}

.video-container li:nth-child(3) {
  border: none;
}
